.todo-list-form-container {
  background-color: #FFFACD;
  border-radius: 8px;
  padding: 40px;
}

.todo-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.text-wrap-break {
  word-break: break-word;
  white-space: normal;
}

.bi-danger {
  color: red;
}

.placeholder-italic::placeholder {
  font-style: italic;
}

@media (max-width: 767.98px) {
  .todo-form-container {
    width: 100%;
  }
}