.text-wrap-break {
  word-break: break-word;
  white-space: normal;
}

.bi-danger {
  color: red;
}

/* ตัวอย่างการปรับแต่ง CSS */
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  color: #495057;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-footer .btn {
  min-width: 100px;
}

.modal-footer .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}